body {
    background: linear-gradient(
        90deg,
        hsla(16, 100%, 76%, 1) 0%,
        hsla(49, 100%, 81%, 1) 100%
    );
    font-family: "Mali", cursive;
    color: #264653;
}

.logo {
    width: 2rem;
}

.welcome {
    margin-top: 1rem;
}

.error {
    border: 3px solid #2a9d8f;
    color: #e76f51;
    font-size: 5rem;
}
/*
    {
    "Charcoal":"264653",
    "Persian Green":"2a9d8f",
    "Orange Yellow Crayola":"e9c46a",
    "Sandy Brown":"f4a261",
    "Burnt Sienna":"e76f51"
    } 
*/
