body {
    background: linear-gradient(
        90deg,
        hsla(16, 100%, 76%, 1) 0%,
        hsla(49, 100%, 81%, 1) 100%
    );
    font-family: "Mali", cursive;
    color: #264653;
}

.logo {
    width: 2rem;
}

.error {
    border: 3px solid #2a9d8f;
    color: #e76f51;
    font-size: 5rem;
}

.error_img {
    text-align: center;
}

.error_img img {
    margin: 1rem;
    width: 5rem;
}

.welcome {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    margin-top: 1rem;
    max-width: 450px;
}

.sun {
    position: relative;
    top: 0;
    left: 0;
    width: 85%;
    max-width: 450px;
}

.welcome_header {
    position: absolute;
    top: 40%;
    left: 26.5%;
}

.welcome_description {
    margin-top: 1rem;
}

.activities {
    margin-top: 30rem;
    margin-bottom: 30rem;
}

.activity {
    border: 3px solid #f4a261;
    padding: 1rem;
    margin: 0px 0px -3px -3px;
}

.activity img {
    height: 2rem;
    float: left;
}

.activity h4 {
    text-align: center;
    text-transform: uppercase;
}

.activity h6 {
    color: #2a9d8f;
}

.contact {
    background-color: #e76f51;
    border-radius: 2rem;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

a,
a:visited,
a:hover {
    color: #264653;
    text-decoration: none;
}

.contact li {
    margin: 0.5rem;
}

.contact_deco {
    border-bottom: 1px solid #264653;
}

/*
    {
    "Charcoal":"264653",
    "Persian Green":"2a9d8f",
    "Sandy Brown":"f4a261",
    "Burnt Sienna":"e76f51"
    } 
*/
